@using System.Web.UI.WebControls
@model OperasWebSite.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <h2>Add an Opera</h2>
        
        @using (Html.BeginForm("Create", "Opera", FormMethod.Post))
        {
            <p>
                @Html.LabelFor(m => m.Title):
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { 
                    placeholder = "Title"
                }})
                @Html.ValidationMessageFor(m => m.Title)
            </p>
            <p>
                @Html.LabelFor(m => m.Composer):
                @Html.EditorFor(m => m.Composer)
                @Html.ValidationMessageFor(m=>m.Composer)
            </p>
            <p>
                @Html.LabelFor(m => m.Year):
                @Html.EditorFor(m => m.Year)
                @Html.ValidationMessageFor(m => m.Year)
            </p>
            <input type="submit" value="Create"/>
            @Html.ActionLink("Back to List", "Index")
        }
    </div>
</body>
</html>
